


    <section class="wow fadeInUp">
        <img src="images/george.jpg" class="profile">

        <div class="social">
            <p class="lead">Tinkerer, Designer, Developer.</p>

            <p>I'm a programmer and designer based in Atlanta, GA. I love building beautiful and responsive applications
                using the latest web technologies.</p>

            <p>Email: <a href="mailto:georgeburdell@gatech.edu">georgeburdell@gatech.edu</a><br>Phone: 555-137-1467</p>

            <div class="social-icon wow bounceIn" data-wow-delay="0.4s"><a href="https://github.com/" target="_blank"><img src="images/github.png"
                                                                                        class="social-icon"></a></div>
            <div class="social-icon wow bounceIn" data-wow-delay="0.6s"><a href="https://www.linkedin.com/" target="_blank"><img src="images/linkedin.png"
                                                                                              class="social-icon"></a>
            </div>
            <div class="social-icon wow bounceIn" data-wow-delay="0.8s"><a href="https://twitter.com/" target="_blank"><img src="images/twitter.png"
                                                                                         class="social-icon"></a></div>
            <div class="social-icon wow bounceIn" data-wow-delay="1s"><a href="https://plus.google.com" target="_blank"><img src="images/googleplus.png"
                                                                                            class="social-icon"></a>
            </div>
        </div>
    </section>