<div id="main-nav">
    <div>
        <h1><a href='#' class="black"><%-data.Profile.name%></a></h1>
        <ul id="nav">
            <li class="active"><a href='#education'>Education</a></li>
            <li><a href='#experience'>Experience</a></li>
            <li><a href='#projects'>Projects</a></li>
            <li><a href='#extracurriculars'>Extracurriculars</a></li>
            <li><a href='#honors'>Awards</a></li>
        </ul>
    </div>
</div>
