<html>
<head>
    <%include head%>
<body>
<header>
    <%include nav%>
</header>
<div class="wrapper">
    <%include header%>
    <%include body%>
    <%include footer%>
</div>
</body>
</head>
</html> 