<% sections.forEach(function(section, index){%>
    <section class="wow fadeInUp">
        <%if (section.layout == "double"){%>
            <% section.subSections.forEach(function(section, index){%>
                <div class="column">
                    <%include singleSection%>
                </div>
            <%});%>        
        <%} else {%>
            <%include singleSection%>
        <%}%>
    </section>
<% });%>
