* {
    padding: 0;
    margin: 0;
    font-family: myriad-pro, sans-serif;
}

header {
    margin: 0 auto;
    padding: 10px 0;
    margin-bottom: 30px;
    overflow: hidden;
    background-color: #f7f7f7;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

@media print {
    header {
        position: relative;
    }
}

#main-nav {
    width: 720px;
    margin: 0 auto;
}

#nav {
    list-style: none;
    float: right;
    margin-top: 8px;
}

#nav li a {
    transition: 0.3s ease-out opacity;
    opacity: 0.5;
}

#nav li a:hover {
    opacity: 1;
}

h1 {
    font-size: 1.6em;
    float: left;
}

h2 {
    font-size: 1.5em;
    font-weight: 300;
    border-bottom: 1px solid #ddd;
    padding-bottom: 2px;
    margin-bottom: 8px;
}

h3 {
    font-size: 1em;
}

p {
    margin-bottom: 15px;
    line-height: 125%;
    font-size: 0.9em;
}

.small {
    font-size: 0.9em;
    font-weight: 200;
    color: #a2a2a2;
    margin-bottom: 5px;
}

a {
    color: #000;
    text-decoration: none;
}

.lead {
    font-size: 1.5em;
}

#nav li {
    display: inline-block;
}

#nav li:active {
    text-decoration: underline;
}

#nav li a {
    color: #000;
    padding: 5px;
    margin-right: 5px;
}

.social {
    margin-left: 170px;
}

.social-icon {
    width: 35px;
    float: left;
    margin-right: 5px;
    border-radius: 50%;
    transition: 0.1s ease-in-out transform;
}

.social-icon:hover {
    transform: translate(0, -3px);
}

@media print {
    .social-icon {
        display: none;
    }
}

.profile {
    width: 152px;
    float: left;
}
.media {
    min-height: 100px;
    overflow: hidden;
}

.media-thumb {
    border: 1px solid lightgray;
    border-radius: 2px;
    width: 100px;
    height: 80px;
    float: right;
    padding: 5px;
    margin-left: 10px;
    margin: 10px;
}

.media-thumb {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: gray; /* IE5+ */
  -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
}

.media-thumb:hover {
  filter: none;
  -webkit-filter: grayscale(0);
  -webkit-transform: scale(1.1);
}

.wrapper {
    margin: 70px auto;
    width: 720px;
    margin-bottom: 20px;
}

section {
    margin-bottom: 30px;
    overflow: hidden;
    clear: both;
}

section .column {
    float: left;
    box-sizing: border-box;
    width: 50%;
}

section .column:first-child {
    padding-right: 10px;
}

section .column:last-child {
    padding-left: 10px;
}

.anchor {
    padding-top: 60px;
    opacity: 1;
}

.blue {
    color: #3498db;
}

.black {
    opacity: 1;
}

.focus {
    border-bottom: 2px solid #3498db;
    line-height: 1.3em;
}

footer {
    margin: 0 auto;
    border-top: 1px solid #ddd;
    padding-top: 20px;
    overflow: hidden;
}

#top {
    float: right;
    margin-top: -35px;
}

.progress {
    box-sizing: border-box;
    transition: 0.3s ease-in all;
    border: 1px solid white;
    position: relative;
    display: inline-block;
}

.progress:hover {
    border: 1px solid lightgray;
    border-radius: 3px;
    cursor: default;
}

.progress > span {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0;
    opacity: 0;
    z-index: -1;

    transition: 0.7s ease all;
}

.progress:hover > span {
    opacity: 1;
}

.progress:hover > span.expert {
    width: 100%;
    background-color: lightgreen;
}

.progress:hover > span.intermediate {
    width: 60%;
    background-color: lightblue;
}

.progress:hover > span.beginner {
    width: 40%;
    background-color: lightsalmon;
}



/*------------mobile--------------*/

.mobile-only {
    display: inherit;
}

.desktop-only {
    display: none;
}

@media only screen and (max-device-width: 480px) {
    .mobile-only {
        display: none;
    }

    .desktop-only {
        display: inherit;
    }

    * {
        font-size: initial;
    }

    .wrapper {
        width: 90%;
    }

    .social-icon {
        width: 100px;
        margin-right: 20px;
    }

    .media-thumb {
        width: 300px;
        height: 240px;
        max-width: 50%;
        max-height: 50%;
        filter: gray; /* IE5+ */
        -webkit-filter: none;
    }

    section .column {
        width: 100%;
        padding: 0px!important;
    }

    p {
        color: #7f7f7f;
    }
}
